WADL/Douban-book-reviews-POST.wadl

<?xml version="1.0" encoding="utf-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://www.w3.org/Submission/wadl/wadl.xsd" xmlns="http://www.w3.org/Submission/wadl">
<resources base="https://api.douban.com/v2/">
<resource path="book/reviews">
<method name="POST">
<request>
<param name="book" style="query" required="true" type="xsd:string">
</param>
<param name="title" style="query" type="xsd:string" required="true">
</param>
<param name="content" style="query" type="xsd:string" required="true">
</param>
<param name="rating" style="query" type="xsd:int">
</param>
</request>
<response status="201"> 
<representation mediaType="application/json"/> 
</response> 
</method>
</resource>
</resources>
</application>