WADL/Douban-book-user-collections.wadl

<?xml version="1.0" encoding="utf-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://www.w3.org/Submission/wadl/wadl.xsd" xmlns="http://www.w3.org/Submission/wadl">
<resources base="https://api.douban.com/v2/">
<resource path="book/user/{name}/collections">
<param name="name" type="xsd:string" style="template" required="true"/>
<method name="GET">
<request>
<param name="status" style="query" type="xsd:string"  required="true">
</param>
<param name="tag" style="query" type="xsd:string">
</param>
<param name="comment" style="header" type="xsd:string">
</param>
<param name="privacy" style="header" type="xsd:string">
</param>
<param name="rating" style="header" type="xsd:int">
</param>
</request>
<response status="200"> 
<representation mediaType="application/json"/> 
</response> 
</method>
</resource>
</resources>
</application>