WADL/Douban-music-review-PUT.wadl

<?xml version="1.0" encoding="utf-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://www.w3.org/Submission/wadl/wadl.xsd" xmlns="http://www.w3.org/Submission/wadl/">
<resources base="http://api.douban.com/v2/">
<resource path="music/review/{id}">
<param name="id" type="xsd:string" style="template"/>
<method name="PUT">
<request>
<param name="title" style="query" type="xsd:string" required="true">
</param>
<param name="content" style="query" type="xsd:string" required="true">
</param>
<param name="rating" style="query" type="xsd:int">
</param>
</request>
<response status="202"> 
<representation mediaType="application/json" /> 
</response> 
</method>
</resource>
</resources>
</application>