WADL/Douban-shuo-statuses-user_timeline.wadl

<?xml version="1.0" encoding="utf-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://www.w3.org/Submission/wadl/wadl.xsd" xmlns="http://www.w3.org/Submission/wadl">
<resources base="https://api.douban.com/shuo/v2/">
<resource path="statuses/user_timeline/{user_id}">
<param name="user_id" type="xsd:string" style="template" required="true"/>
<method name="GET">
<request>
<param name="since_id" style="query" type="xsd:int">
</param>
<param name="until_id" style="query" type="xsd:int">
</param>
</request>
<response> 
<representation mediaType="application/json"/> 
</response> 
</method>
</resource>
</resources>
</application>