WADL/Douban-event-list.wadl

<?xml version="1.0" encoding="utf-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://www.w3.org/Submission/wadl/wadl.xsd" xmlns="http://www.w3.org/Submission/wadl">
<resources base="https://api.douban.com/v2/">
<resource path="event/list">
<method name="GET">
<request>
<param name="loc" style="query" type="xsd:string">
</param>
<param name="day_type" style="header" type="xsd:string">
</param>
<param name="type" style="header" type="xsd:string">
</param>
</request>
<response> 
<representation mediaType="application/json"/> 
</response> 
</method>
</resource>
</resources>
</application>