WADL/Douban-shuo-statuses-POST.wadl

<?xml version="1.0" encoding="utf-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://www.w3.org/Submission/wadl/wadl.xsd" xmlns="http://www.w3.org/Submission/wadl">
<resources base="https://api.douban.com/shuo/v2/">
<resource path="statuses">
<method name="POST">
<request>
<representation mediaType="multipart/form-data">
<param name="text" style="query" type="xsd:string" required="true">
</param>
<param name="image" style="query">
</param>
<param name="rec_title" style="query" type="xsd:string">
</param>
<param name="rec_url" style="query" type="xsd:string">
</param>
<param name="rec_desc" style="query" type="xsd:string">
</param>
<param name="rec_image" style="query" type="xsd:string">
</param>
</representation>
</request>
<response> 
<representation mediaType="application/json"/> 
</response> 
</method>
</resource>
</resources>
</application>