WADL/Facebook-page-offers-POST.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://www.w3.org/Submission/wadl/wadl.xsd" xmlns="http://www.w3.org/Submission/wadl">
<resources base="http://graph.facebook.com/v2.2/">
<resource path="{page-id}/offers">
<param name="page-id" style="template" type="xsd:string">
</param>
<method name="POST">
<request>
<representation mediaType="multipart/form-data" >
<param name="title" style="query" type="xsd:string" required="true">
</param>
<param name="message" style="query" type="xsd:string" required="true">
</param>
<param name="expiration_time" style="query" type="xsd:dateTime" required="true">
</param>
<param name="terms" style="query" type="xsd:string">
</param>
<param name="image_url" style="query" type="xsd:string">
</param>
<param name="image" style="query" type="multipart/form-data">
</param>
<param name="claim_limit" style="query" type="xsd:int">
</param>
<param name="qrcode" style="query" type="xsd:string">
</param>
<param name="barcode" style="query" type="xsd:string">
</param>
<param name="redemption_link" style="query" type="xsd:string">
</param>
<param name="redemption_code" style="query" type="xsd:string">
</param>
<param name="published" style="query" type="xsd:boolean">
</param>
<param name="scheduled_publish_time" style="query">
</param>
<param name="reminder_time" style="query" type="xsd:dateTime">
</param>
</representation>
</request>
<response> 
<representation mediaType="application/json" />
</response> 
</method>
</resource>
</resources>
</application>