WADL/Facebook-user-photos-POST.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://www.w3.org/Submission/wadl/wadl.xsd" xmlns="http://www.w3.org/Submission/wadl">
<resources base="http://graph.facebook.com/v2.2/">
<resource path="{user-id}/photos">
<param name="user-id" style="template" type="xsd:string">
</param>
<method name="POST">
<request>
<representation mediaType="multipart/form-data" >
<param name="source" style="query" type="multipart/form-data">
</param>
<param name="url" style="query" type="xsd:string">
</param>
<param name="message" style="query" type="xsd:string">
</param>
<param name="place" style="query" type="xsd:string">
</param>
<param name="no_story" style="query" type="xsd:boolean">
</param>
<param name="privacy" style="query">
</param>
</representation>
</request>
<response> 
<representation mediaType="application/json" />
</response> 
</method>
</resource>
</resources>
</application>