WADL/Facebook-group-members-POST.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://www.w3.org/Submission/wadl/wadl.xsd" xmlns="http://www.w3.org/Submission/wadl">
<resources base="http://graph.facebook.com/v2.2/">
<resource path="{group-id}/members">
<param name="group-id" style="template" type="xsd:string">
</param>
<method name="POST">
<request>
<representation mediaType="multipart/form-data" >
<param name="member" style="query" type="xsd:string" required="true">
</param>
<param name="from" style="query" type="xsd:string">
</param>
</representation>
</request>
<response> 
<representation mediaType="application/json" />
</response> 
</method>
</resource>
</resources>
</application>