WADL/Facebook-page-photos-POST.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://www.w3.org/Submission/wadl/wadl.xsd" xmlns="http://www.w3.org/Submission/wadl">
<resources base="http://graph.facebook.com/v2.2/">
<resource path="{page-id}/photos">
<param name="page-id" style="template" type="xsd:string">
</param>
<method name="POST">
<request>
<representation mediaType="multipart/form-data" >
<param name="source" style="query" type="multipart/form-data">
</param>
<param name="url" style="query" type="xsd:string">
</param>
<param name="message" style="query" type="xsd:string">
</param>
<param name="no_story" style="query" type="xsd:boolean">
</param>
<param name="targeting" style="query">
</param>
<param name="feed_targeting" style="query">
</param>
<param name="published" style="query" type="xsd:boolean">
</param>
<param name="scheduled_publish_time" style="query">
</param>
</representation>
</request>
<response> 
<representation mediaType="application/json" />
</response> 
</method>
</resource>
</resources>
</application>