WADL/Facebook-object-insights-metric.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://www.w3.org/Submission/wadl/wadl.xsd" xmlns="http://www.w3.org/Submission/wadl">
<resources base="http://graph.facebook.com/v2.2/">
<resource path="{object-id}/insights/{metric-name}">
<param name="object-id" style="template" type="xsd:string">
</param>
<param name="metric-name" style="template" type="xsd:string">
</param>
<method name="GET">
<request>
<param name="period" style="query" type="xsd:string">
</param>
<param name="breakdown" style="query" type="xsd:string">
</param>
</request>
<response> 
<representation mediaType="application/json" />
</response> 
</method>
</resource>
</resources>
</application>