WADL/Facebook-page-locations-POST.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://www.w3.org/Submission/wadl/wadl.xsd" xmlns="http://www.w3.org/Submission/wadl">
<resources base="http://graph.facebook.com/v2.2/">
<resource path="{page-id}/locations">
<param name="page-id" style="template" type="xsd:string">
</param>
<method name="POST">
<request>
<representation mediaType="multipart/form-data" >
<param name="main_page_id" style="query" type="xsd:string" required="true">
</param>
<param name="store_number" style="query" type="xsd:int" required="true">
</param>
<param name="location_page_id" style="query" type="xsd:string">
</param>
<param name="location" style="query">
</param>
<param name="place_topics" style="query" type="xsd:int">
</param>
<param name="phone" style="query" type="xsd:string">
</param>
<param name="hours" style="query">
</param>
<param name="page_username" style="query" type="xsd:string">
</param>
<param name="permanently_closed" style="query" type="xsd:boolean">
</param>
<param name="is_franchise" style="query" type="xsd:boolean">
</param>
<param name="ignore_warnings" style="query" type="xsd:boolean">
</param>
</representation>
</request>
<response> 
<representation mediaType="application/json" />
</response> 
</method>
</resource>
</resources>
</application>