WADL/flickr.photos.geo.correctLocation.wadl

<?xml version="1.0" encoding="utf-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://www.w3.org/Submission/wadl/wadl.xsd" xmlns="http://www.w3.org/Submission/wadl">
<resources base="https://api.flickr.com/services/rest/">
<resource path="">
<method name="POST">
<request>
<param name="method" style="query" fixed="flickr.photos.geo.correctLocation" isResource="true">
</param>
<param name="photo_id" style="query" type="xsd:string" required="true">
</param>
<param name="foursquare_id" style="query" type="xsd:string" required="true">
</param>
<param name="accuracy" style="query" type="xsd:int" required="true">
</param>
<param name="place_id" style="query" type="xsd:string">
</param>
<param name="woe_id" style="query" type="xsd:string">
</param>
</request>
<response> 
<representation mediaType="application/xml" /> 
</response>
</method>
</resource>
</resources>
</application>