WADL/flickr.push.subscribe.wadl

<?xml version="1.0" encoding="utf-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://www.w3.org/Submission/wadl/wadl.xsd" xmlns="http://www.w3.org/Submission/wadl">
<resources base="https://api.flickr.com/services/rest/">
<resource path="">
<method name="GET">
<request>
<param name="method" style="query" fixed="flickr.push.subscribe" isResource="true">
</param>
<param name="topic" style="query" type="xsd:string" required="true">
</param>
<param name="callback" style="query" type="xsd:string" required="true">
</param>
<param name="verify" style="query" type="xsd:string" required="true">
</param>
<param name="verify_token" style="query" type="xsd:string">
</param>
<param name="lease_seconds" style="query" type="xsd:string">
</param>
<param name="woe_ids" style="query" type="xsd:string">
</param>
<param name="place_ids" style="query" type="xsd:string">
</param>
<param name="threshold" style="query" type="xsd:string">
</param>
<param name="lat" style="query" type="xsd:float">
</param>
<param name="lon" style="query" type="xsd:float">
</param>
<param name="radius" style="query" type="xsd:int">
</param>
<param name="radius_unit" style="query" type="xsd:string">
</param>
<param name="accuracy" style="query" type="xsd:int">
</param>
<param name="nsids" style="query" type="xsd:string">
</param>
<param name="tags" style="query" type="xsd:string">
</param>
</request>
<response> 
<representation mediaType="application/xml" /> 
</response>
</method>
</resource>
</resources>
</application>