WADL/flickr.photos.getUntagged.wadl

<?xml version="1.0" encoding="utf-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://www.w3.org/Submission/wadl/wadl.xsd" xmlns="http://www.w3.org/Submission/wadl">
<resources base="https://api.flickr.com/services/rest/">
<resource path="">
<method name="GET">
<request>
<param name="method" style="query" fixed="flickr.photos.getUntagged" isResource="true">
</param>
<param name="max_upload_date" style="query">
</param>
<param name="min_upload_date" style="query">
</param>
<param name="max_taken_date" style="query">
</param>
<param name="min_taken_date" style="query">
</param>
<param name="privacy_filter" style="query" type="xsd:string">
</param>
<param name="media" style="query" type="xsd:string">
</param>
<param name="extras" style="query" type="xsd:string">
</param>
<param name="per_page" style="query" type="xsd:int">
</param>
<param name="page" style="query" type="xsd:int">
</param>
</request>
<response> 
<representation mediaType="application/xml" /> 
</response>
</method>
</resource>
</resources>
</application>