WADL/flickr.photos.search.wadl

<?xml version="1.0" encoding="utf-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://www.w3.org/Submission/wadl/wadl.xsd" xmlns="http://www.w3.org/Submission/wadl">
<resources base="https://api.flickr.com/services/rest/">
<resource path="">
<method name="GET">
<request>
<param name="method" style="query" fixed="flickr.photos.search" isResource="true">
</param>
<param name="user_id" style="query" type="xsd:string">
</param>
<param name="tags" style="query" type="xsd:string">
</param>
<param name="tag_mode" style="query" type="xsd:string">
</param>
<param name="text" style="query" type="xsd:string">
</param>
<param name="max_upload_date" style="query">
</param>
<param name="min_upload_date" style="query">
</param>
<param name="max_taken_date" style="query">
</param>
<param name="min_taken_date" style="query">
</param>
<param name="license" style="query" type="xsd:string">
</param>
<param name="bbox" style="query" type="xsd:string">
</param>
<param name="privacy_filter" style="query" type="xsd:string">
</param>
<param name="sort" style="query" type="xsd:string">
</param>
<param name="accuracy" style="query" type="xsd:string">
</param>
<param name="safe_search" style="query" type="xsd:string">
</param>
<param name="content_type" style="query" type="xsd:string">
</param>
<param name="machine_tags" style="query" type="xsd:string">
</param>
<param name="machine_tag_mode" style="query" type="xsd:string">
</param>
<param name="group_id" style="query" type="xsd:string">
</param>
<param name="contacts" style="query" type="xsd:string">
</param>
<param name="woe_id" style="query" type="xsd:string">
</param>
<param name="place_id" style="query" type="xsd:string">
</param>
<param name="media" style="query" type="xsd:string">
</param>
<param name="has_geo" style="query" type="xsd:string">
</param>
<param name="geo_context" style="query" type="xsd:string">
</param>
<param name="lat" style="query" type="xsd:float">
</param>
<param name="lon" style="query" type="xsd:float">
</param>
<param name="radius" style="query" type="xsd:int">
</param>
<param name="radius_unit" style="query" type="xsd:string">
</param>
<param name="is_commons" style="query" type="xsd:boolean">
</param>
<param name="in_gallery" style="query" type="xsd:boolean">
</param>
<param name="is_getty" style="query" type="xsd:boolean">
</param>
<param name="extras" style="query" type="xsd:boolean">
</param>
<param name="per_page" style="query" type="xsd:int">
</param>
<param name="page" style="query" type="xsd:int">
</param>
</request>
<response> 
<representation mediaType="application/xml" /> 
</response>
</method>
</resource>
</resources>
</application>