WADL/flickr.places.findByLatLon.wadl

<?xml version="1.0" encoding="utf-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://www.w3.org/Submission/wadl/wadl.xsd" xmlns="http://www.w3.org/Submission/wadl">
<resources base="https://api.flickr.com/services/rest/">
<resource path="">
<method name="GET">
<request>
<param name="method" style="query" fixed="flickr.places.findByLatLon" isResource="true">
</param>
<param name="lat" style="query" type="xsd:float" required="true">
</param>
<param name="lon" style="query" type="xsd:float" required="true">
</param>
<param name="accuracy" style="query" type="xsd:int">
</param>
</request>
<response> 
<representation mediaType="application/xml" /> 
</response>
</method>
</resource>
</resources>
</application>