WADL/flickr.places.placesForTags.wadl

<?xml version="1.0" encoding="utf-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://www.w3.org/Submission/wadl/wadl.xsd" xmlns="http://www.w3.org/Submission/wadl">
<resources base="https://api.flickr.com/services/rest/">
<resource path="">
<method name="GET">
<request>
<param name="method" style="query" fixed="flickr.places.placesForTags" isResource="true">
</param>
<param name="place_type_id" style="query" type="xsd:int" required="true">
</param>
<param name="woe_id" style="query" type="xsd:string">
</param>
<param name="place_id" style="query" type="xsd:int">
</param>
<param name="threshold" style="query" type="xsd:string">
</param>
<param name="tags" style="query" type="xsd:string">
</param>
<param name="tags_mode" style="query" type="xsd:string">
</param>
<param name="machine_tags" style="query" type="xsd:string">
</param>
<param name="machine_tag_mode" style="query" type="xsd:string">
</param>
<param name="min_upload_date" style="query">
</param>
<param name="max_upload_date" style="query">
</param>
<param name="min_taken_date" style="query">
</param>
<param name="max_taken_date" style="query">
</param>
</request>
<response> 
<representation mediaType="application/xml" /> 
</response>
</method>
</resource>
</resources>
</application>