WADL/Renren-like-ugc-info-get.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://www.w3.org/Submission/wadl/wadl.xsd" xmlns="http://www.w3.org/Submission/wadl">
<resources base="https://api.renren.com/v2/">
<resource path="like/ugc/info/get">
<method name="GET">
<request>
<param name="limit" style="query" type="xsd:int">
</param>
<param name="withLikeUsers" style="query" type="xsd:boolean">
</param>
<param name="likeUGCType" style="query" required="true">
</param>
<param name="ugcId" style="query" type="xsd:long" required="true">
</param>
</request>
<response> 
<representation mediaType="application/json" />
</response> 
</method>
</resource>
</resources>
</application>