WADL/Renren-feed-put.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://www.w3.org/Submission/wadl/wadl.xsd" xmlns="http://www.w3.org/Submission/wadl">
<resources base="https://api.renren.com/v2/">
<resource path="feed/put">
<method name="POST">
<request>
<param name="message" style="query" type="xsd:string" required="true">
</param>
<param name="title" style="query" type="xsd:string" required="true">
</param>
<param name="actionTargetUrl" style="query" type="xsd:string">
</param>
<param name="imageUrl" style="query" type="xsd:string">
</param>
<param name="description" style="query" type="xsd:string"  required="true">
</param>
<param name="subtitle" style="query" type="xsd:string">
</param>
<param name="actionName" style="query" type="xsd:string">
</param>
<param name="targetUrl" style="query" type="xsd:string" required="true">
</param>
</request>
<response> 
<representation mediaType="application/json" />
</response> 
</method>
</resource>
</resources>
</application>