WADL/Renren-location-feed-list.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://www.w3.org/Submission/wadl/wadl.xsd" xmlns="http://www.w3.org/Submission/wadl">
<resources base="https://api.renren.com/v2/">
<resource path="location/feed/list">
<method name="GET">
<request>
<param name="pageSize" style="query" type="xsd:int">
</param>
<param name="pageNumber" style="query" type="xsd:int">
</param>
<param name="locationFeedType" style="query" type="LocationFeedType" required="true">
</param>
<param name="radius" style="query" type="xsd:int">
</param>
<param name="longitude" style="query" type="xsd:double">
</param>
<param name="latitude" style="query" type="xsd:double">
</param>
</request>
<response status="200"> 
<representation mediaType="application/json" />
</response> 
</method>
</resource>
</resources>
</application>