WADL/Renren-page-user-list.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://www.w3.org/Submission/wadl/wadl.xsd" xmlns="http://www.w3.org/Submission/wadl">
<resources base="https://api.renren.com/v2/">
<resource path="page/user/list">
<method name="GET">
<request>
<param name="pageSize" style="query" type="xsd:int" required="true">
</param>
<param name="pageNumber" style="query" type="xsd:int" required="true">
</param>
<param name="userId" style="query" type="xsd:int">
</param>
</request>
<response> 
<representation mediaType="application/json" />
</response> 
</method>
</resource>
</resources>
</application>