WADL/Renren-album-put.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://www.w3.org/Submission/wadl/wadl.xsd" xmlns="http://www.w3.org/Submission/wadl">
<resources base="https://api.renren.com/v2/">
<resource path="album/put">
<method name="POST">
<request>
<param name="location" style="query" type="xsd:string">
</param>
<param name="description" style="query" type="xsd:string">
</param>
<param name="name" style="query" type="xsd:string" required="true">
</param>
<param name="accessControl" style="query" type="AccessControl">
</param>
<param name="password" style="query" type="xsd:string">
</param>
</request>
<response> 
<representation mediaType="application/json" />
</response> 
</method>
</resource>
</resources>
</application>