WADL/Twitter-lists-members-create_all-POST.wadl

<?xml version="1.0" encoding="utf-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://www.w3.org/Submission/wadl/wadl.xsd" xmlns="http://www.w3.org/Submission/wadl">
<resources base="https://api.twitter.com/1.1/">
<resource path="lists/members/create_all.json">
<method name="POST">
<request>
<param name="list_id" style="query" type="xsd:long" required="true">
</param>
<param name="slug" style="query" type="xsd:string" required="true">
</param>
<param name="user_id" style="query" type="xsd:long">
</param>
<param name="screen_name" style="query" type="xsd:string">
</param>
<param name="owner_screen_name" style="query" type="xsd:string">
</param>
<param name="owner_id" style="query" type="xsd:long">
</param>
</request>
<response> 
<representation mediaType="application/json" />
</response> 
</method>
</resource>
</resources>
</application>