WADL/Twitter-account-update_profile_banner-POST.wadl

<?xml version="1.0" encoding="utf-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://www.w3.org/Submission/wadl/wadl.xsd" xmlns="http://www.w3.org/Submission/wadl">
<resources base="https://api.twitter.com/1.1/">
<resource path="account/update_profile_banner.json">
<method name="POST">
<request>
<param name="banner" style="query" type="xsd:base64Binary" required="true">
</param>
<param name="width" style="query" type="xsd:int">
</param>
<param name="height" style="query" type="xsd:int">
</param>
<param name="offset_left" style="query" type="xsd:int">
</param>
<param name="offset_top" style="query" type="xsd:int">
</param>
</request>
<response> 
<representation mediaType="application/json" />
</response> 
</method>
</resource>
</resources>
</application>