WADL/Twitter-account-update_profile-POST.wadl

<?xml version="1.0" encoding="utf-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://www.w3.org/Submission/wadl/wadl.xsd" xmlns="http://www.w3.org/Submission/wadl">
<resources base="https://api.twitter.com/1.1/">
<resource path="account/update_profile.json">
<method name="POST">
<request>
<param name="name" style="query" type="xsd:string">
</param>
<param name="url" style="query" type="xsd:string">
</param>
<param name="location" style="query" type="xsd:string">
</param>
<param name="description" style="query" type="xsd:string">
</param>
<param name="profile_link_color" style="query" type="xsd:string">
</param>
<param name="skip_status" style="query" type="xsd:boolean">
</param>
<param name="include_entities" style="query" type="xsd:boolean">
</param>
</request>
<response> 
<representation mediaType="application/json" />
</response> 
</method>
</resource>
</resources>
</application>