WADL/Twitter-lists-subscribers.wadl

<?xml version="1.0" encoding="utf-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://www.w3.org/Submission/wadl/wadl.xsd" xmlns="http://www.w3.org/Submission/wadl">
<resources base="https://api.twitter.com/1.1/">
<resource path="lists/subscribers.json">
<method name="GET">
<request>
<param name="list_id" style="query" type="xsd:long" required="true">
</param>
<param name="slug" style="query" type="xsd:string" required="true">
</param>
<param name="owner_screen_name" style="query" type="xsd:string">
</param>
<param name="owner_id" style="query" type="xsd:long">
</param>
<param name="count" style="query" type="xsd:int">
</param>
<param name="cursor" style="query" type="xsd:int">
</param>
<param name="include_entities" style="query" type="xsd:boolean">
</param>
<param name="skip_status" style="query" type="xsd:boolean">
</param>
</request>
<response> 
<representation mediaType="application/json" />
</response> 
</method>
</resource>
</resources>
</application>