WADL/Twitter-account-settings-POST.wadl

<?xml version="1.0" encoding="utf-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://www.w3.org/Submission/wadl/wadl.xsd" xmlns="http://www.w3.org/Submission/wadl">
<resources base="https://api.twitter.com/1.1/">
<resource path="account/settings.json">
<method name="POST">
<request>
<param name="trend_location_woeid" style="query" type="xsd:int">
</param>
<param name="sleep_time_enabled" style="query" type="xsd:boolean">
</param>
<param name="start_sleep_time" style="query" type="xsd:int">
</param>
<param name="end_sleep_time" style="query" type="xsd:int">
</param>
<param name="time_zone" style="query" type="xsd:string">
</param>
<param name="lang" style="query" type="xsd:string">
</param>
</request>
<response> 
<representation mediaType="application/json" />
</response> 
</method>
</resource>
</resources>
</application>