WADL/Twitter-friends-ids.wadl

<?xml version="1.0" encoding="utf-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://www.w3.org/Submission/wadl/wadl.xsd" xmlns="http://www.w3.org/Submission/wadl">
<resources base="https://api.twitter.com/1.1/">
<resource path="friends/ids.json">
<method name="GET">
<request>
<param name="user_id" style="query" type="xsd:long">
</param>
<param name="screen_name" style="query" type="xsd:string">
</param>
<param name="cursor" style="query" type="xsd:long">
</param>
<param name="stringify_ids" style="query" type="xsd:boolean">
</param>
<param name="count" style="query" type="xsd:int">
</param>
</request>
<response> 
<representation mediaType="application/json" />
</response> 
</method>
</resource>
</resources>
</application>