WADL/Twitter-trends-closest.wadl

<?xml version="1.0" encoding="utf-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://www.w3.org/Submission/wadl/wadl.xsd" xmlns="http://www.w3.org/Submission/wadl">
<resources base="https://api.twitter.com/1.1/">
<resource path="trends/closest.json">
<method name="GET">
<request>
<param name="lat" style="query" type="xsd:float" required="true">
</param>
<param name="long" style="query" type="xsd:float" required="true">
</param>
</request>
<response> 
<representation mediaType="application/json" />
</response> 
</method>
</resource>
</resources>
</application>