WADL/Twitter-geo-search.wadl

<?xml version="1.0" encoding="utf-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://www.w3.org/Submission/wadl/wadl.xsd" xmlns="http://www.w3.org/Submission/wadl">
<resources base="https://api.twitter.com/1.1/">
<resource path="geo/search.json">
<method name="GET">
<request>
<param name="lat" style="query" type="xsd:float">
</param>
<param name="long" style="query" type="xsd:float">
</param>
<param name="query" style="query" type="xsd:string">
</param>
<param name="ip" style="query" type="xsd:string">
</param>
<param name="contained_within" style="query" type="xsd:string">
</param>
<param name="accuracy" style="query" type="xsd:string">
</param>
<param name="granularity" style="query" type="xsd:string">
</param>
<param name="max_results" style="query" type="xsd:int">
</param>
<param name="attribute:street_address" style="query" type="xsd:string">
</param>
<param name="callback" style="query" type="xsd:string">
</param>
</request>
<response> 
<representation mediaType="application/json" />
</response> 
</method>
</resource>
</resources>
</application>