WADL/Weibo-statuses-upload.wadl

<?xml version="1.0" encoding="utf-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://www.w3.org/Submission/wadl/wadl.xsd" xmlns="http://www.w3.org/Submission/wadl">
<resources base="https://api.weibo.com/2/">
<resource path="statuses/upload.json">
<method name="POST">
<request>
<representation mediaType="multipart/form-data" >
<param name="status" style="query" type="xsd:string" required="true">
</param>
<param name="visible" style="query" type="xsd:int">
</param>
<param name="list_id" style="query" type="xsd:string">
</param>
<param name="pic" style="query" required="true">
</param>
<param name="lat" style="query" type="xsd:float">
</param>
<param name="long" style="query" type="xsd:float">
</param>
<param name="annotations" style="query" type="xsd:string">
</param>
<param name="rip" style="query" type="xsd:string">
</param>
</representation>
</request>
<response status="200"> 
<representation mediaType="application/json"/> 
</response>
</method>
</resource>
</resources>
</application>