WADL/Weibo-location-pois-add.wadl

<?xml version="1.0" encoding="utf-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://www.w3.org/Submission/wadl/wadl.xsd" xmlns="http://www.w3.org/Submission/wadl">
<resources base="https://api.weibo.com/2/">
<resource path="location/pois/add.json">
<method name="POST">
<request>
<representation mediaType="multipart/form-data" >
<param name="srcid" style="query" type="xsd:int" required="true">
</param>
<param name="name" style="query" type="xsd:string" required="true">
</param>
<param name="address" style="query" type="xsd:string" required="true">
</param>
<param name="city_name" style="query" type="xsd:string" required="true">
</param>
<param name="category" style="query" type="xsd:string" required="true">
</param>
<param name="longtitude" style="query" type="xsd:string" required="true">
</param>
<param name="latitude" style="query" type="xsd:string" required="true">
</param>
<param name="telephone" style="query" type="xsd:string">
</param>
<param name="pic_url" style="query" type="xsd:string">
</param>
<param name="url" style="query" type="xsd:string">
</param>
<param name="tags" style="query" type="xsd:string">
</param>
<param name="description" style="query" type="xsd:string">
</param>
<param name="intro" style="query" type="xsd:string">
</param>
<param name="traffic" style="query" type="xsd:bpolean">
</param>
</representation>
</request>
<response> 
<representation mediaType="application/json"/> 
</response>
</method>
</resource>
</resources>
</application>