WADL/Weibo-statuses-go.wadl

<?xml version="1.0" encoding="utf-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://www.w3.org/Submission/wadl/wadl.xsd" xmlns="http://www.w3.org/Submission/wadl">
<resources base="https://api.weibo.com/2/">
<resource path="statuses/go">
<method name="GET">
<request>
<param name="uid" style="query" type="xsd:string" required="true">
</param>
<param name="id" style="query" type="xsd:string" required="true">
</param>
</request>
<response status="200"> 
<representation mediaType="null"/> 
</response>
</method>
</resource>
</resources>
</application>