WADL/Weibo-location-pois-search-by_area.wadl

<?xml version="1.0" encoding="utf-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://www.w3.org/Submission/wadl/wadl.xsd" xmlns="http://www.w3.org/Submission/wadl">
<resources base="https://api.weibo.com/2/">
<resource path="location/pois/search/by_area.json">
<method name="GET">
<request>
<param name="q" style="query" type="xsd:string">
</param>
<param name="city" style="query" type="xsd:string" required="true">
</param>
<param name="category" style="query" type="xsd:string">
</param>
<param name="page" style="query" type="xsd:int">
</param>
<param name="count" style="query" type="xsd:int">
</param>
<param name="coordinates" style="query" type="xsd:string">
</param>
</request>
<response> 
<representation mediaType="application/json"/> 
</response>
</method>
</resource>
</resources>
</application>