WADL/Weibo-search-suggestions-at_users.wadl

<?xml version="1.0" encoding="utf-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://www.w3.org/Submission/wadl/wadl.xsd" xmlns="http://www.w3.org/Submission/wadl">
<resources base="https://api.weibo.com/2/">
<resource path="search/suggestions/at_users.json">
<method name="GET">
<request>
<param name="q" style="query" type="xsd:string" required="true">
</param>
<param name="count" style="query" type="xsd:int">
</param>
<param name="type" style="query" type="xsd:int" required="true">
</param>
<param name="range" style="query" type="xsd:int">
</param>
</request>
<response> 
<representation mediaType="application/json"/> 
</response>
</method>
</resource>
</resources>
</application>