WADL/Weibo-friendships-show.wadl

<?xml version="1.0" encoding="utf-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://www.w3.org/Submission/wadl/wadl.xsd" xmlns="http://www.w3.org/Submission/wadl">
<resources base="https://api.weibo.com/2/">
<resource path="friendships/show.json">
<method name="GET">
<request>
<param name="source_id" style="query" type="xsd:int">
</param>
<param name="source_screen_name" style="query" type="xsd:string">
</param>
<param name="target_id" style="query" type="xsd:int">
</param>
<param name="target_screen_name" style="query" type="xsd:string">
</param>
</request>
<response> 
<representation mediaType="application/json"/> 
</response>
</method>
</resource>
</resources>
</application>