WADL/Weibo-favorites-tags-update.wadl

<?xml version="1.0" encoding="utf-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://www.w3.org/Submission/wadl/wadl.xsd" xmlns="http://www.w3.org/Submission/wadl">
<resources base="https://api.weibo.com/2/">
<resource path="favorites/tags/update.json">
<method name="POST">
<request>
<representation mediaType="multipart/form-data" >
<param name="id" style="query" type="xsd:int" required="true">
</param>
<param name="tags" style="query" type="xsd:string">
</param>
</representation>
</request>
<response> 
<representation mediaType="application/json"/> 
</response>
</method>
</resource>
</resources>
</application>