WADL/Weibo-place-nearby-users.wadl

<?xml version="1.0" encoding="utf-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://www.w3.org/Submission/wadl/wadl.xsd" xmlns="http://www.w3.org/Submission/wadl">
<resources base="https://api.weibo.com/2/">
<resource path="place/nearby/users.json">
<method name="GET">
<request>
<param name="lat" style="query" type="xsd:float" required="true">
</param>
<param name="long" style="query" type="xsd:float" required="true">
</param>
<param name="range" style="query" type="xsd:int">
</param>
<param name="starttime" style="query" type="xsd:int">
</param>
<param name="endtime" style="query" type="xsd:int">
</param>
<param name="sort" style="query" type="xsd:int">
</param>
<param name="count" style="query" type="xsd:int">
</param>
<param name="page" style="query" type="xsd:int">
</param>
<param name="offset" style="query" type="xsd:int">
</param>
</request>
<response> 
<representation mediaType="application/json"/> 
</response>
</method>
</resource>
</resources>
</application>