WADL/Weibo-statuses-friends_timeline.wadl

<?xml version="1.0" encoding="utf-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://www.w3.org/Submission/wadl/wadl.xsd" xmlns="http://www.w3.org/Submission/wadl">
<resources base="https://api.weibo.com/2/">
<resource path="statuses/friends_timeline.json">
<method name="GET">
<request>
<param name="since_id" style="query" type="xsd:int"></param>
<param name="max_id" style="query" type="xsd:int"></param>
<param name="count" style="query" type="xsd:int"></param>
<param name="page" style="query" type="xsd:int"></param>
<param name="base_app" style="query" type="xsd:int"></param>
<param name="feature" style="query" type="xsd:int"></param>
<param name="trim_user" style="query" type="xsd:int"></param>
</request>
<response status="200"> 
<representation mediaType="application/json"/> 
</response>
</method>
</resource>
</resources>
</application>