WADL/Weibo-common-get_city.wadl

<?xml version="1.0" encoding="utf-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://www.w3.org/Submission/wadl/wadl.xsd" xmlns="http://www.w3.org/Submission/wadl">
<resources base="https://api.weibo.com/2/">
<resource path="common/get_city.json">
<method name="GET">
<request>
<param name="province" style="query" type="xsd:string" required="true">
</param>
<param name="capital" style="query" type="xsd:string">
</param>
<param name="language" style="query" type="xsd:string">
</param>
</request>
<response> 
<representation mediaType="application/json"/> 
</response>
</method>
</resource>
</resources>
</application>