WADL/Weibo-account-profile-school_list.wadl

<?xml version="1.0" encoding="utf-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://www.w3.org/Submission/wadl/wadl.xsd" xmlns="http://www.w3.org/Submission/wadl">
<resources base="https://api.weibo.com/2/">
<resource path="account/profile/school_list.json">
<method name="GET">
<request>
<param name="province" style="query" type="xsd:int">
</param>
<param name="city" style="query" type="xsd:int">
</param>
<param name="area" style="query" type="xsd:int">
</param>
<param name="type" style="query" type="xsd:int">
</param>
<param name="capital" style="query" type="xsd:string">
</param>
<param name="keyword" style="query" type="xsd:string">
</param>
<param name="count" style="query" type="xsd:int">
</param>
</request>
<response> 
<representation mediaType="application/json"/> 
</response>
</method>
</resource>
</resources>
</application>